/*Estilos generales del sitio*/

*{
	margin:0;
	padding: 0;
}

*{
	font-family: $generalFont;
}

main{
	section{
		div{
            h1{
	            font-weight: bold;
	            text-align: $h1Center;
	            margin: 50px;
            }
		}
	}
}

a{
	text-decoration: none;
	color: blue;
	font-weight: bold;
	&:hover{
	   text-decoration: underline;
	   color: black;	
	}
}

li{
	margin: 10px;
	border-radius: 5px;
	padding: 0.5rem;
}

.views__background{
	background-color: $viewsBg;
}